In [ ]:
import pandas as pd
import numpy as np

In [83]:
df = pd.read_csv("Laliga.csv" , skiprows = 1)
df.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

# **Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)**

In [84]:
df.head()
df = df.replace('-', 0)
df=df.apply(pd.to_numeric,errors='ignore')
df.dtypes
#df[['Points','GamesPlayed']].apply(pd.to_numeric,errors='coerce')
#df=df.apply(pd.to_numeric,errors='coerce'---> I was just checking

Pos               int64
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner-up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
T                 int64
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

# **Print all the teams which have started playing between 1930-1980.**

In [103]:
#convert the team debut to date time then see how it works 
df['Debut'].apply(pd.to_timedelta)
df.dtypes
df['']

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition'],
      dtype='object')

In [116]:
df['Debut Year numeric']=df['Debut'].str.slice(0,4).apply(pd.to_numeric)

In [117]:
df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition', 'Debut Year numeric'],
      dtype='object')

In [118]:

df = df.set_index('Debut Year numeric')

In [120]:
df.sort_index(inplace=True)

In [148]:

countries = df[(df['Debut Year numeric']>1930) & (df['Debut Year numeric']<1980)]
countries['Team'].count()

countries['Team']

11               Valencia
12             Real Betis
13                 Oviedo
14                Sevilla
15                Osasuna
16               Hercules
17             Celta Vigo
18               Zaragoza
19                 Murcia
20                Granada
21    Deportivo La Coruna
22              Castellon
23               Sabadell
24         Sporting Gijon
25               Alcoyano
26              Gimnastic
27             Valladolid
28                 Malaga
29                 Lleida
30        Atletico Tetuan
31             Las Palmas
32                   Jaen
33       Cultural Leonesa
34                 Condal
35                  Elche
36               Mallorca
37               Tenerife
38                Cordoba
39                Levante
40             Pontevedra
41              Burgos CF
42              Salamanca
43                  Cadiz
44         Rayo Vallecano
45             Recreativo
46             AD Almeria
Name: Team, dtype: object

#  Print the list of teams which came Top 5 in terms of points (2.5 points)

In [151]:
df.columns
#df.sort_values()

Index(['level_0', 'index', 'Debut Year numeric', 'Pos', 'Team', 'Seasons',
       'Points', 'GamesPlayed', 'GamesWon', 'GamesDrawn', 'GamesLost',
       'GoalsFor', 'GoalsAgainst', 'Champion', 'Runner-up', 'Third', 'Fourth',
       'Fifth', 'Sixth', 'T', 'Debut', 'Since/LastApp', 'BestPosition'],
      dtype='object')

In [162]:
top5=df.sort_values('Points',ascending=False).head(5)
top5['Team']

0         Real Madrid
8           Barcelona
7     Atletico Madrid
11           Valencia
6     Athletic Bilbao
Name: Team, dtype: object

# Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)

In [184]:
def Goal_diff_count():
    Goal_diff_count = df['GoalsFor'] - df['GoalsAgainst']
    return Goal_diff_count

In [189]:
df['Goal_diff_count'] = Goal_diff_count()

In [215]:
df = df.apply(pd.to_numeric,errors='ignore')
df['Goal_diff_count'].argmax()
max_goal_team=df.iloc[df['Goal_diff_count'].argmax,4:5]
print("Team with maximum goal difference",max_goal_team)

Team with maximum goal difference Team    Real Madrid
Name: 0, dtype: object

C:\Users\Gaurav\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  from ipykernel import kernelapp as app
C:\Users\Gaurav\Anaconda3\lib\site-packages\pandas\core\common.py:477: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  return maybe_callable(obj, **kwargs)

In [217]:
min_goal_team = df.iloc[df['Goal_diff_count'].argmin,4:5]
print("Team with mainimum goal difference",min_goal_team)

Team with mainimum goal difference Team    Racing Santander
Name: 1, dtype: object

C:\Users\Gaurav\Anaconda3\lib\site-packages\pandas\core\common.py:477: FutureWarning: 'argmin' is deprecated. Use 'idxmin' instead. The behavior of 'argmin' will be corrected to return the positional minimum in the future. Use 'series.values.argmin' to get the position of the minimum now.
  return maybe_callable(obj, **kwargs)

# Create a new column with name “Winning Percent” and append it to the data set

In [218]:
df['Winning Percent'] = (df['GamesWon']/df['GamesPlayed'])*100

In [225]:
df['Winning Percent'].fillna(0)

0     59.630702
1     31.722689
2     33.076923
3     37.532580
4     36.100533
5     29.166667
6     43.772629
7     47.475134
8     57.241130
9     33.333333
10    32.894737
11    44.557057
12    35.069444
13    34.228188
14    41.112957
15    32.321700
16    29.299363
17    34.511190
18    35.146022
19    24.744027
20    29.380054
21    36.797386
22    30.838323
23    30.281690
24    32.304527
25    27.777778
26    29.310345
27    31.582538
28    31.075697
29    19.117647
        ...
31    33.485401
32    32.222222
33    16.666667
34    23.333333
35    29.941003
36    33.704453
37    31.376518
38    29.078014
39    28.109453
40    29.444444
41    28.921569
42    29.078014
43    23.214286
44    28.987730
45    26.881720
46    25.000000
47    27.745665
48    22.807018
49    28.148148
50    32.500000
51    23.750000
52    25.000000
53    41.176471
54    24.342105
55    32.236842
56    27.192982
57    21.052632
58    30.701754
59    21.052632
60     0.000000
Name: Winning Percent, Length: 61, dtype: float64

# Print the top 5 teams which has the highest Winning percentage

In [239]:
df=df.set_index(df['Winning Percent'])
Most_wi_team=df.sort_index(ascending=False).head(5)
Most_wi_team['Team']

Winning Percent
59.630702        Real Madrid
57.241130          Barcelona
47.475134    Atletico Madrid
44.557057           Valencia
43.772629    Athletic Bilbao
Name: Team, dtype: object

# Group teams based on their “Best position” and print the sum of their points for all positions (5 points)

In [309]:
df.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64